<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<a href="#" class="btn_lc login_btn">Личный кабинет</a>
		<div class="phone">
			<a href="tel:+74999448224">+7 (499) 944-82-24</a>
		</div>
		<div class="menu_top">
			<ul>
				<li class="opened"><a href="#">О нас</a></li>
				<li>
					<a href="#">Услуги</a>
					<ul>
						<li><a href="">Тарифы</a></li>
						<li><a href="">Как это работает</a></li>
					</ul>
				</li>
				<li><a href="#">Способы погашения</a></li>
				<li><a href="#">Вопрос - ответ</a></li>
				<li><a href="#">Отзывы</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div> 
	</div>
</nav> 
<div class="site_wrapper">
<header class="header main_page">
	<div class="header_top">
		<div class="block_inner">
			<div class="logo">
				<a href="#">
					<img src="img/logo.svg" alt="">
				</a>
			</div>
			<div class="menu_top_wr">
				<ul>
					<li class="opened"><a href="#">О нас</a></li>
					<li>
						<a href="#">Услуги</a>
						<ul>
							<li><a href="">Тарифы</a></li>
							<li><a href="">Как это работает</a></li>
						</ul>
					</li>
					<li><a href="#">Способы погашения</a></li>
					<li><a href="#">Вопрос - ответ</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="phone">
				<a href="tel:+74999448224">+7 (499) 944-82-24</a>
			</div>
			<a href="#" class="btn_lc login_btn">Личный кабинет</a>
			<div class="burger"><span></span></div>
		</div>
	</div>
	<div class="header_bottom">		
		<div class="block_inner">
			<div class="left">
				<div class="title">Быстрые <br>займы на карту!</div>
			</div>
			<div class="calc_block">
				<div class="tabs-wr-main">
					<ul class="tabs-title calc_top_btn">
						<li class="active"><div class="btn border speed">Быстрый</div></li>
						<li><div class="btn border speed_more">Быстрый больше</div></li>
					</ul>
					<div class="tabs-block">
						<div class="tabs-b active">
							<form action="">
								<textarea name="" class="result_calc" id="" cols="30" rows="10"></textarea>
								<div class="calc_middle">
									<div class="calc_item calc_left tariff_speed">
										<div class="calc_title">
											<div class="name">Выберете сумму</div>
											<div class="value">
												<div class="val" id="summa-value"></div>
												<div class="pre"> ₽</div>
											</div>
										</div>
										<div class="item_slider" id="slider-summa"></div>
									</div>
									<div class="calc_item calc_right days_speed">
										<div class="calc_title">
											<div class="name">Выберете срок</div>
											<div class="value">
												<div class="val" id="days-value"></div>
												<div class="pre"> день</div>
											</div>
										</div>
										<div class="item_slider" id="slider-days"></div>
									</div>
								</div>
								<div class="fields">
									<div class="field">
										<input type="text" required placeholder="ФИО*">
									</div>
									<div class="field">
										<input type="text" required placeholder="Номер телефона*">
									</div>
								</div>
								<div class="calc_bottom">
									<div class="left_b">
										<div class="item_result">
											<div class="name">К возврату:</div>
											<div class="number">
												<span class="summ_return"></span>₽</div>
											<div class="text">Без залога и поручителя</div>
										</div>
										<div class="item_result">
											<div class="name">Ставка:</div>
											<div class="number">
												<span class="percent_tariff_speed">0.5</span>% в день</div>
											<div class="text">Первый займ</div>
										</div>
									</div>
									<div class="right_b">
										<input type="submit" value="получить деньги" class="btn gr calc_send">
									</div>
								</div>
							</form>
						</div>
						<div class="tabs-b">
							<form action="#">
								<textarea name="" class="result_calc" id="" cols="30" rows="10"></textarea>
								<div class="calc_middle">
									<div class="calc_item calc_left tariff_speed_more">
										<div class="calc_title">
											<div class="name">Выберете сумму</div>
											<div class="value">
												<div class="val" id="summa-value-more"></div>
												<div class="pre"> ₽</div>
											</div>
										</div>
										<div class="item_slider" id="slider-summa-more"></div>
									</div>
									<div class="calc_item calc_right days_speed_more">
										<div class="calc_title">
											<div class="name">Выберете срок</div>
											<div class="value">
												<div class="val" id="days-value-more"></div>
												<div class="pre"> день</div>
											</div>
										</div>
										<div class="item_slider" id="slider-days-more"></div>
									</div>
								</div>
								<div class="fields">
									<div class="field">
										<input type="text" required placeholder="ФИО*">
									</div>
									<div class="field">
										<input type="text" required placeholder="Номер телефона*">
									</div>
								</div>
								<div class="calc_bottom">
									<div class="left_b">
										<div class="item_result">
											<div class="name">К возврату:</div>
											<div class="number"><span class="summ_return_more"></span> ₽</div>
											<div class="text">Без залога и поручителя</div>
										</div>
										<div class="item_result">
											<div class="name">Ставка:</div>
											<div class="number"><span class="percent_tariff_speed_more">0.4</span>% в день</div>
											<div class="text">Первый займ</div>
										</div>
									</div>
									<div class="right_b">
										<input type="submit" value="получить деньги" class="btn gr calc_send">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="content_block_wr">
	