include _header_inner.jade
	<div class="content_page_wr lk_page">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная страница</a><span class="sep"></span><a href="">Личный кабинет</a><span class="sep"></span>Карты
			</div>
			<h1 class="title_block"><span>Личный кабинет</span></h1>
			<div class="lk_inner">
				<div class="left_lk">
					<div class="lk_name">Иванов Иван Иванович</div>
					<div class="lk_card">
						<div class="lk_number">Заявка на займ <span>№00056748392 </span></div>
						<div class="lk_price">10 000 ₽</div>
						<div class="lk_status"><span>Статус: на рассмотрении</span></div>
					</div>
					<div class="lk_link">
						<a href="">Займы</a>
						<a href="" class="opened">Карты</a>
					</div>
				</div>
				<div class="right_lk">
					<div class="lk_cards">
						<div class="card_new">
							<div class="card_new_name">Cartholder</div>
							<div class="card_new_number">****1866</div>
							<div class="card_new_date">09/24</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>									
include _footer.jade