include _header_inner.jade
	<div class="content_page_wr lk_page">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная страница</a><span class="sep"></span><a href="">Личный кабинет</a><span class="sep"></span>Карты
			</div>
			<h1 class="title_block"><span>Личный кабинет</span></h1>
			<div class="lk_inner">
				<div class="left_lk">
					<div class="lk_name">Иванов Иван Иванович</div>
					<div class="lk_card">
						<div class="lk_number">Заявка на займ <span>№00056748392 </span></div>
						<div class="lk_price">10 000 ₽</div>
						<div class="lk_status"><span>Статус: на рассмотрении</span></div>
					</div>
					<div class="lk_link">
						<a href="">Займы</a>
						<a href="" class="opened">Карты</a>
					</div>
				</div>
				<div class="right_lk">
					<div class="table_block">
						<table>
							<thead>
								<tr>
									<th>Договор №00056748392</th>
									<th><div class="status approved">Статус: подписан (дистранционно)</div></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Сумма займа</td>
									<td>10 000 ₽</td>
								</tr>
								<tr>
									<td>Общий долг на текущую дату</td>
									<td>10 000 ₽</td>
								</tr>
								<tr>
									<td>Долг по текущему платежу</td>
									<td>10 000 ₽</td>
								</tr>
								<tr>
									<td>Дата возврата</td>
									<td>13.05.2022</td>
								</tr>
							</tbody>
						</table>
					</div>
					<form action="" class="form_lk_card">
						<div class="title">Введите данные карты для получения средств</div>
						<div class="form_body">
							<div class="field">
								<input type="text" placeholder="Номер карты">
							</div>
							<div class="field">
								<input type="text" placeholder="Владелец карты">
							</div>
							<div class="field">
								<input type="text" placeholder="Владелец карты">
							</div>
							<input type="submit" value="получить деньги" class="btn gr">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>									
include _footer.jade