include _header_inner.jade
	<div class="content_page_wr lk_page">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная страница</a><span class="sep"></span><a href="">Личный кабинет</a><span class="sep"></span>Займы
			</div>
			<h1 class="title_block"><span>Личный кабинет</span></h1>
			<div class="lk_inner">
				<div class="left_lk">
					<div class="lk_name">Иванов Иван Иванович</div>
					<div class="lk_card">
						<div class="lk_number">Заявка на займ <span>№00056748392 </span></div>
						<div class="lk_price">10 000 ₽</div>
						<div class="lk_status"><span>Статус: на рассмотрении</span></div>
					</div>
					<div class="lk_link">
						<a href="" class="opened">Займы</a>
						<a href="">Карты</a>
					</div>
				</div>
				<div class="right_lk">
					<div class="table_block">
						<table>
							<thead>
								<tr>
									<th>Договор №00056748392</th>
									<th><div class="status approved">Статус: одобрено</div></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Сумма займа</td>
									<td>10 000 ₽</td>
								</tr>
								<tr>
									<td>Общий долг на текущую дату</td>
									<td>10 000 ₽</td>
								</tr>
								<tr>
									<td>Долг по текущему платежу</td>
									<td>10 000 ₽</td>
								</tr>
								<tr>
									<td>Дата возврата</td>
									<td>13.05.2022</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="number_block">
				<div class="number_top">
					<div class="number"><span>01</span></div>
					<div class="val"><strong>Для ознакомления с Договором №00056748392 нажмите на кнопку </strong><a href="" download><strong>Скачать договор</strong></a></div>
				</div>
				<div class="form">
					<a href="" download class="btn gr">Скачать договор</a>
				</div>
			</div>
			<div class="number_block">
				<div class="number_top">
					<div class="number"><span>02</span></div>
					<div class="val"><strong>Для отпавки на указанный вами при оформлении заявки номер телефона уникального СМС  кода для подписи Договора, нажмите на кнопку “Получить код для подписи”</strong></div>
				</div>
				<div class="form">
					<a href="" class="btn gr">получить код для подписи договора</a>
					<a href="" class="btn gr">получить код для подписи согласия</a>
				</div>
			</div>
			<div class="number_block">
				<div class="number_top">
					<div class="number"><span>03</span></div>
					<div class="val"><strong>Перед подписью договора, сначала необходимо подписать Согласие</strong></div>
				</div>
				<div class="form">
					<form action="">
						<div class="fields">
							<div class="field">
								<input type="text" placeholder="Код подписи СОГЛАСИЯ">
							</div>
							<div class="field">
								<input type="submit" value="ПОДПИСАТЬ СОГЛАСИЕ" class="btn gr">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>									
include _footer.jade